@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Cairo;
  src: url(./assets/fonts/Cairo-Bold.ttf);
}
@font-face {
  font-family: Cairo;
  src: url(./assets/fonts/Cairo-Light.ttf);
  font-weight: 300;
}

body {
  margin: 0;
  font-family: Cairo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
